body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://i.pinimg.com/originals/0d/88/1b/0d881b74ab9c02fcfe3faf598a1d76e0.jpg');
    /* background: #1B4242; */
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h1,h2,h3{
    display: flex;
    justify-content: center;
    color: #93B1A6;
}
button{
    cursor: pointer;
    background: #1B4242;
    color: #93B1A6;
    border-radius: 5px;
    border-color: #93B1A6;
}
input{
    text-align: center;
}
p{
    color: #93B1A6;
}
li{
    color: #93B1A6;
}

.container-calculator-fitness-and-list-exercise{
    width: 70vw;
    display: flex;
    justify-content: space-around
}

.container-list-calculator{
    width: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #0F0F0F;
    border-radius: 5px;
}
.container-all-list-exercise{
    width: 50%;
    height: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ideal-weigtht{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.body-mass{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.body-fat-porcentage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-add-exercise{
    margin-top: 20px;
}
.button-add-exercise{
    background-color: #0F0F0F;
    color: #93B1A6;
    border-color: #93B1A6;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

.input-search-exercise{
    margin-top: 20px;
    background: #0F0F0F;
    color: green;
    border-radius: 5px;
    border-color: green;
    text-align: center;
}

.title-count-exercises{
    width: 80%;
    background: #0F0F0F;
    border-radius: 5px
}

.container-list-exercise{
    max-width: 100%;
    width: 50%;
    background: #0F0F0F;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    color: #93B1A6;
    border-radius: 5px;
}
.button-delete-exercise{
    border-radius: 100%;
    background-color: #0F0F0F;
    color: #93B1A6;
    border-color: #93B1A6;
}

/* Estilos del modal y el formulario para llenar el modal */
.modal{
    background-color: rgba(32,35,41,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    color: 'white';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.form-add-exercise{
    display: flex;
    flex-direction: column;
    background: grey;
    border-radius: 10px;
    width: 20%;
    height: 30%;
    justify-content: center;
    align-items: center;
}

.text-add-exercise{
    width: 90%;
    height: 40%;
    display: flex;
    justify-content: center
}
.text-area-exercise{
    max-width: 90%;
    max-height: 90%;
    text-align: center;
}
.button-cancel, .button-add{
    cursor: pointer;
    background-color: #0F0F0F;
    color: #93B1A6;
    border-color: transparent;
    border-radius: 5px;
    margin-left: 5px;
}

.spinner {
    border: 16px solid #f3f3f3; 
    border-top: 16px solid #4CAF50; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    animation-direction: alternate;
    margin-top: 50px;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

